language: java
cache:
  directories:
  - $HOME/.m2
jdk:
- oraclejdk8
sudo: required
services:
- docker
notifications:
  slack:
    secure: zzCUTlc2u4+lMncdGctJjtpikNTbrI7JIf1VN7MqLr9PZ1ygpz1rooJL1UNyocAyWXDgQqpyqtZ2ORNTZgj1WrERnUcvlLGAQPqSx70m0woytuyWhCcS6Zp76/k7iYD1cOO1/RtnIRSr7b3bk0EPtYSdHPP2TLwYL77IaKluhknPrpYAsG8b1Vt/HV00nvnvGB7H+NPB8ZVvy/Up8pQOxJ3PGJeLbqfXkCkhLH40zDpgG42rmY1QRyPztdTQs/70yB3eOWfbohGGJVej1ZDttUHXDGN8NI2UdwLi6A+zf6UOPoA6KqJYBrUYsa6I4890Rhyd3wPDe5B5jBjhFGQuC1USt9JG5BFtVh2vPnx62U69P3TbR93DTDsF7tfs1nqeMtSXzWk+QsK9l1QKN9QFHfJNQ9ewK5D8qYHR7EuyNTjPu8ES/MITCMRZzOff5+qYb6EQwdKn5UIfAGuKnb3N+6D1FfoZdIgWc0vUatHY9BX/VF2TzqxgNA/atKUOKgdorbLDeHeJ8bvuabGWVB9fQamGb390sOuBc1696eAEd8hMQ8pSok6x6TgRsU7ZLwkdPGH5RJxYkMcGpRr0hbWXPBRwkgBPue2ruk19mdO/V1DolM9sWgGEIjEBfZlLLLvWk4vl6EC9F9ei6+ZfdiekXVQiPz4CW9xryMXeMjHIcWs=
  email:
  - anthony.denecheau@gmail.com
  on_success: always
  on_failure: always
env:
  global:
  - secure: EifioaeALRxeDgkqyP4enXAK5YGos1R3fbnzC2aLX5LlfMQCO8rc7Qg+JijyHBCy7mkVeDA9V9qkbLAXOjMyay9jH8AktOW1ftK413ORy3K9wDXeIzFTr5DCKoJwKk02KOXve7/pV42KZsm6el79giQlpQN7UaDsFs8OMtAqb46CzRLW2vnSOhJQKZKt9ze4bsPAEGip6dK9rLvwAGo/FEuuro2y/XmZ2RpoCUbTWJnlfUO1la0NabwQO/5QQOe8/mIi/EAUBJzUxslmXIUzPC9K2wJlTEeh/1A+sGZN9DB0DihNA7L23GFZXygnVi2c/MwcX8Yyfm9zY73CbLWIQTWEA3PfeccjtpforZdjJlWKNeclqQDVPR4b90CbvCSv7t7N6t2LsvFd6+HuWFK2nhtOtgigVdwyeDt34qqAaKjfVWV1fzY2+8YOcBILNDZMQTDm9I0mvayxsXpTFK6L6gxRlG3J/3IOGR3Cu3n9Bq7u5RZmznBjFvg6+CoM0yDP8UrFwXVSm2To+7UwHJkgVfizBB3IbyAxRAaLIeQm11t7ZqOltAY4GsM1Se8xBd7U3uYVVAxRjVRBt8Oqm5gykxzt9S950xuquOV9d235A9wW0DcdDqsSE5NxE6se/tSBHHfiHmjGP8xCdQcO8FRz+mq5XesgE1OIhGHBoIHD4HI=
  - secure: 1Ar4ZBEvUPB1BC4G3BCoEywr0+kPlFLBtasuC3C0s0NuTupfPoPaMb+WohdYMK19DmztTZL4GoIzl1W5vBRYiClS4f1RJveey65k4G92tqWVDK0L68spCK5DSY+oVu8vtkf5anzuLo7ksM1xEGQ0puRCFQmGyjkwzb2BXkHx8qXdjNfttOSV+fs++vZxtP/NNCa7xUz0uhezjbA6qda9ulKLo2OdsnQ9+pbJOJkYYkyM8nvH+JgrP1va87SRn+VKeF1WgzUp7Ox+mAyBtDzbL/y2ds7XMN6nTWVU7HLl7U8hP9GZ383YDW7FxpuSDcvNLXPRPULwIH5zt6kReBitxFE7A8vPuRxpxtHmGzXkb2ne4VdZoJ1nh5A/AnUZsaNeo11+WKxNL+gCqnYwafoFS+xEdgbDovMYwB8OEDv3E6L9cX56b/ssVzuG6aZ7NUj9kKp8OzUI8kUYVJH7yp2CLR4PlnbvHoBU2Hq9Svn+ecxuQDucJn4t6HV282LgXse60TW+P1VE5Osx28EXTNnImUCEAT/6Mumqz/ARmFM6YJJ2ZB0DJbZIwDmIk+qDz88mlgkaNSXlGKQ67BeGeXRPQdCDDdK7qu0DRlsW4quserB1AgFCbuff4YKxav4JnQvckkkK6S9M+lbEVVzesP3ZLo+hqeKOF7ikddo4XO6b0L4=
  matrix:
  - SCC_DOCKER_IMAGE=anthonydenecheau/scc-zipkinsvr:version1.0
script:
- docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
- mvn clean package docker:build
- docker push $SCC_DOCKER_IMAGE
  